body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  background: #009B50;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 140px;
}

.movie-title,
.movie-year,
.movie_rating{
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-rating {
  color: #333; /* Adjust color for readability */
}


.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
}
.img_note {
  display: none; /* Hide the note by default */
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 100%; /* Position below the image */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

.movie {
  position: relative;
}

.movie:hover .img_note {
  display: block; /* Show the note when hovering over the movie container */
}
